service firebase.storage {
  match /b/{bucket}/o {
    match /users/{userId}/{fileName} {
      allow read, write: if request.auth.uid == userId || request.token.admin == true;
    }

    // 1) file is less than 5MB
    // 2) content type is an image
    match /{imageId} {
      allow write: if request.resource.size < 5 * 1024 * 1024
        && request.resource.contentType.matches('image/.*')
    }
  }
}
