<div class="login-container">
    <div class="ui card login-card">
      <div class="content">
        <form class="ui form">
          <div class="two fields">
            <div class="field">
              <label>First Name</label>
              <input type="text" name="firstName" placeholder="First Name" />
            </div>
            <div class="field">
              <label>Last Name</label>
              <input type="text" name="lastName" placeholder="Last Name" />
            </div>
          </div>
          <div class="field">
            <label>Email</label>
            <input type="email" name="email" placeholder="Email" />
          </div>
          <div class="field">
            <label>Password</label>
            <input type="password" name="password" placeholder="Password" />
          </div>
          <button class="ui primary button login" type="submit">Sign Up</button>
        </form>
      </div>
    </div>
  </div>