<div class="login-container">
  <div class="ui card login-card">
    <div class="content">
      <div class="ui negative message" *ngIf="error">
        {{ error }}
      </div>
      <form class="ui form" #form="ngForm" (submit)="onSubmit(form)" [class.loading]="loading">
        <div class="two fields" *ngIf="isSignUp">
          <div class="field">
            <label>First Name</label>
            <input type="text" name="firstName" placeholder="First Name" ngModel/>
          </div>
          <div class="field">
            <label>Last Name</label>
            <input type="text" name="lastName" placeholder="Last Name" ngModel/>
          </div>
        </div>
        <div class="field">
          <label>Email</label>
          <input type="email" name="email" placeholder="Email" ngModel/>
        </div>
        <div class="field">
          <label>Password</label>
          <input type="password" name="password" placeholder="Password" ngModel/>
        </div>
        <div class="actions">
          <button class="ui primary button login" type="submit">{{ action | uppercase }}</button>
          <span *ngIf="isLogin">
            or
            <a href="#" (click)="action = 'signup'">Sign Up</a>
          </span>
          <span *ngIf="isSignUp">
            or
            <a href="#" (click)="action = 'login'">Login</a>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>