header {
  height: 50px;
  background: #1a2129;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;

  h2 {
    color: #fff;
    margin: 0;
    padding: 10px;
    position: absolute;
    left: 10px;
  }
}

.app {
  margin-top: 100px;
}

.logout {
  float: right;
  position: relative;
  top: 4px;
  right: 15px;
}