
.add-form-container {
  max-width: 960px;
  margin: 50px auto;
}

.ui.form select.specialty {
  height: 55px;
}

.profile-image {
  padding: 20px;

  img {
    width: 100%;
    height: auto
  }
}

.file-input {
  display: none;
}

.upload-button {
  float: right;
  margin-top: 20px;
}